body {
  background: linear-gradient(60deg, rgb(20, 202, 202), rgb(133, 19, 240));
  min-height: 100vh;
  margin: auto;
  font-family: OCR A Std, monospace;
}
#header {
  text-align: center;
}
#content {
  overflow: auto;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
#nav {
  margin: 10px;
  text-align: end;
  font-size: 20px;
  display: inline;
}
#feature {
  margin-left: 100px;
  margin-top: 80px;
  width: 420px;
  font-size: 20px;
  padding: 10px;
  background-color: rgba(20, 202, 202, 0.2);
  border-radius: 5%;
  border: solid;
}
#footer {
  background-color: blanchedalmond;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
}

.column1,
.column2,
.column3 {
  background-color: antiquewhite;
  float: left;
  margin: 10%;
}

li {
  display: inline;
  padding: 5px;
  text-decoration: none;
}
a:link,
:visited {
  color: black;
  font-size: 30px;
  font-family: OCR A Std, monospace;
  text-decoration: none;
  margin: 10px;
  font-weight: bold;
}
